* {
  font-family: sans-serif;
  border-radius: 10px;
}
body {
  background-color: #e5e3c9;
}
#main {
  width: 70%;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: white;
  font-family: IBM Plex Sans, sans-serif;
}
#search-box {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2%;
}
#search-box > button {
  color: #835eeb;
  font-weight: bold;
  margin-left: 5px;
}
#navbar_after_login {
  height: 50px;
  width: 100%;
}
#cancel_btn {
  border: none;
  cursor: pointer;
}
.search-symbol {
  padding: 6px 18px 6px 10px;
  width: 450px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
  font-weight: bold;
}
.select > option,
select,
h1 {
  color: #02475b;
  font-size: 30px;
  border: none;
}

.select-line {
  margin-left: 30px;
}
#hwb {
  width: 80%;
  height: 80px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  border: 1px solid rgb(196, 190, 190);
  position: relative;
  top: 30px;
  box-shadow: 50px;
  background-color: white;
}
.flex-child {
  padding: 5px;
  margin: 0 50px 0 50px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  color: green;
  border: 2px solid white;
  font-weight: 500px;
  cursor: pointer;
}
#health-box {
  /* background-color: #02475b;*/
  background-color: #ececec;
}
#categories_option {
  /* display: flex;
  flex-direction: column; */
  width: 30%;
  background-color: white;
  color: #02475b;
}
#inner_flex {
  /* display: flex; */
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  margin-left: 10px;
}
.nodataImg,
.noData {
  margin-left: 500px;
  position: relative;
  bottom: 400px;
}
.noData {
  color: #02475b;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  bottom: 420px;
}
.btn {
  width: 350px;
  height: 50px;
  margin-left: 550px;
  background-color: orange;
  position: relative;
  bottom: 300px;
  border: none;
  cursor: pointer;
}
#footer {
  color: white;
  background-color: black;
  padding: 5px;
}
#icon {
  text-align: center;
}
h4 {
  color: orange;
  margin-left: 10px;
}
ul {
  overflow: hidden;
}
li {
  display: inline-block;
  color: white;
  list-style-type: circle;
  margin: 5px;
}
ul li::before {
  content: "\2022";
  color: white;
}
