body{
    padding: 10px;
    margin: 0;
    background-color: #e7e9e1;
}



#consultation{
    background-color: white;
    width: 95%;
    height: 200px;
    padding: 10px;
}

#consultation > h3{
    color: #107591;
}

#consultation > p{
    color: #107591;
}

#consultation > div > i{
    color: #05aa89;
    /* border-bottom: 2px solid #00b38e; */
    padding: 4px;
}

#searchDoctors{
    border: none;
    /* width: 200%; */
    /* border-bottom: 2px solid #00b38e; */
}

#searchbar{
    display: grid;
    grid-template-columns: 4% 30%;
    border-bottom: 2px solid black;
    width: 90%;
    border-color: #00b38e;
}

#cities{
    padding: 5px;
    display: inline-block;
    gap: 20px;
}

#cities > button{
    background-color: white;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 6px;
    color: #00b38e;
    padding: 4px;
    font-size:small;
    margin-left: 15px;
    width: 75px;
}
.para{
    color: #22a7b9;
    font-size: 18px;
    position: relative;
}

#addvertise > img{
    width: 90%;
    height: 220px;
}

.consult_card_img{
    width: 40px;
    margin-top: -5%;
}

.subCard{
    /* border: 1px solid black; */
    /* width: 17%; */
    height: 230px;
    text-align: center;
    padding: 1% 2% 1% 2%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 20px grey;
}

.subCard > h3{
    margin-top: 4%;
    margin-bottom: 20px;
    height: 22%;
    font-size: 15px;
}

.subCard > h4{
    color: rgb(128, 115, 115);
    margin-top: 9%;
    font-size: 14px;
}

.subCard > h5{
    margin-top: -15px;
    margin-bottom: 4%;
}

#consult_cards{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 3%;
    /* justify-content: space-around; */
}
.inside-flex{
    display: flex;
    /* gap: 1%; */
}
.outside-flex{
    display: flex;
    background-color: white;
    /* width: 100%; */
    height: 130px;
    gap: 10%;
    padding: 1%;
    border-radius: 4%;
    box-shadow: 0px 0px 10px grey;
    margin-top: -3%;
}
.outside-flex > div > img{
    width: 50px;
    margin-top: 30%;
}
.inside-flex > div > i{
    margin-top: 400%;
    margin-left: 220%;
}
.inside-text > p{
    color: grey;
    font-size: 14px;
    margin-top: -7%;
}
.inside-text > h4{
    font-size: 14px;
}

.inside-flex + hr{
    width: 100%;
    margin-top: -1%;
}
#Boxes{
    width: 80%;
    display: grid;
    grid-template-columns: 61% 61%;
    gap: 1%;
    padding: 1%;
    margin-top: 3%;
}
.inside-flex + hr + h5{
    margin-top: 0%;
    font-size: 13px
}

#above{
    display: grid;
    grid-template-columns: 70% 30%;
}
#first > hr{
    width: 100%;
}

#second-fir > #dott > li{
    color: #0e5d74;
    /* list-style: dotted; */
}
#second-thir > .info{
    display: flex;
    gap: 5%;
}
.info{
    font-size: 14px;
    color: #67919d;
}
#second{
    background-color: white;
    padding: 3%;
    height: 900px;
}
#second > #second-fir{
    color: #0e5d74;
}
#second > #second-sec{
    color: #0e5d74;
}
#msgBoxPerson{
    width: 50%;
    height: 40px;
}
#msgBoxCall{
    width: 50%;
    height: 40px;
}
#thisToShow{
    display: flex;
    gap: 5%;
    margin-top: 10%;
}
#thisToShow > h3{
    font-size: medium;
}
#second > hr{
    background-color: rgb(206, 199, 199);
    size: 1px;
}
#second-fort > p{
    color: #0e5d74;
}

#lastOfSecond{
    display: flex;
    gap: 10%;
}
#lastOfSecond > h4{
    color: orange;
}


#below{
    margin-top: 30%;
    padding: 2%;
    background-color: white;
}

#below h3{
    font-size: 18px;
    color: #0e5d74;
}
#below p{
    color: #0e5d74;
}
#below ul li{
    color: #0e5d74;
    margin-bottom: 3%;
}
#below ul{
    margin-top: 3%;
}

.faq-text{
    color: #0e5d74;
}

#faq-main{
    margin-top: 6%;
}

/* .faq-text{
    padding-left: 3%;
} */

.faq{
    max-width: 100%;
    /* margin-top: 1rem; */
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    background-color: white;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.4rem;
    padding-left: 1%;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    /* padding: 1%; */
}

.answer p{
    /* padding-top: rem; */
    line-height: 1.6;
    font-size: 1.4rem;
    padding: 2%;
}

.faq.active .answer{
    max-height: fit-content;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translate(-10px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}


.question > h3{
    font-size: 18px;
    color: #0e5d74;
}

.answer > p{
    font-size: 15px;
    color: #0e5d74;
}