body{
    padding: 10px;
    margin: 0;
    background-color: #e7e9e1;
}
#main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#consultation{
    background-color: white;
    width: 95%;
    height: 200px;
    padding: 10px;
}

#consultation > h3{
    color: #107591;
}

#consultation > i{
    color: #05aa89;
    /* border-bottom: 2px solid #00b38e; */
    padding: 4px;
}

#searchDoctors{
    border: none;
    /* width: 200%; */
    /* border-bottom: 2px solid #00b38e; */
}

#searchbar{
    display: grid;
    grid-template-columns: 4% 30%;
    border-bottom: 2px solid black;
    width: 90%;
    border-color: #00b38e;
}

#cities{
    padding: 5px;
    display: inline-block;
    gap: 20px;
}

#cities > button{
    background-color: white;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 6px;
    color: #00b38e;
    padding: 4px;
    font-size:small;
    margin-left: 15px;
    width: 75px;
}
.para{
    color: #22a7b9;
    font-size: 18px;
    position: relative;
}

#addvertise > img{
    width: 80%;
    height: 220px;
}

.consult_card_img{
    width: 40px;
    margin-top: -5%;
}

.subCard{
    /* border: 1px solid black; */
    /* width: 17%; */
    height: 230px;
    text-align: center;
    padding: 1% 2% 1% 2%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 20px grey;
}

.subCard > h3{
    margin-top: 4%;
    margin-bottom: 20px;
    height: 22%;
    font-size: 15px;
}

.subCard > h4{
    color: rgb(128, 115, 115);
    margin-top: 9%;
    font-size: 14px;
}

.subCard > h5{
    margin-top: -15px;
    margin-bottom: 4%;
}

#consult_cards{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 3%;
    /* justify-content: space-around; */
}
.inside-flex{
    display: flex;
    /* gap: 1%; */
}
.outside-flex{
    display: flex;
    background-color: white;
    /* width: 100%; */
    height: 130px;
    gap: 10%;
    padding: 1%;
    border-radius: 4%;
    box-shadow: 0px 0px 10px grey;
    margin-top: -3%;
}
.outside-flex > div > img{
    width: 50px;
    margin-top: 30%;
}
.inside-flex > div > i{
    margin-top: 400%;
    margin-left: 250%;
}
.inside-text > p{
    color: grey;
    font-size: 14px;
    margin-top: -7%;
}
.inside-text > h4{
    font-size: 14px;
}

.inside-flex + hr{
    width: 100%;
    margin-top: -1%;
}
#Boxes{
    width: 80%;
    display: grid;
    grid-template-columns: 60% 60%;
    gap: 1%;
    padding: 1%;
    margin-top: 3%;
}
.inside-flex + hr + h5{
    margin-top: 0%;
    font-size: 13px
}
#second{
    border: 1px solid black;
}
#above{
    display: grid;
    grid-template-columns: 70% 30%;
}
#first > hr{
    width: 100%;
}
#second-thir > .info{
    display: flex;
    gap: 5%;
}
.info{
    font-size: 14px;
    color: #67919d;
}